*:root{
    --primary-color:rgb(0,255,255);
    --primary1-color:rgb(250,235,215);
}
header{
    background-image: url(images/background1.jpg);
    padding: 20px;
}
img{
    border-radius: 50%;
    width: 100px;
    height: auto;
}
ul{
    display: flex;
    justify-content: space-evenly;
}
div a{
    color:var(--primary1-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
div img{
    width: 50px;
    height: 50px;
}