*:root{
    --primary-color:rgb(0,255,255);
    --primary1-color:rgb(250,235,215);
}
header{
    background-image: url(images/background1.jpg);
    padding: 20px;
}
ul{
    display: flex;
    justify-content: space-evenly;
}
div a{
    color:var(--primary1-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
div img{
    width: 50px;
    height: 50px;
}
main{
    background-image: url(images/background2.jpg);
    height: max-content;
}
header, main {
    background-repeat: no-repeat;   /* prevents tiling */
    background-size: cover;         /* image fills the entire container */
    background-position: center;    /* centers the image */
}

p, h2{
    color:var(--primary1-color);
    font-family: 'Times New Roman', Times, serif;
}
.intro {
    display: flex;
    align-items: center;
    gap: 40px; 
    padding: 40px;
    flex-wrap: wrap; /* ensures responsiveness on smaller screens */
}

.intro-text {
    flex: 2; 
}
.intro-image {
    border: solid;
    border-color: var(--primary-color)
}

.intro-image img {
    width: 100%; 
    height: auto;
}