*:root{
    --primary-color:rgb(0,255,255);
}
header{
    background-color:var(--primary-color);
    padding: 20px;
}
img{
    border-radius: 50%;
    width: 100px;
    height: auto;
}
ul{
    display: flex;
    justify-content: space-evenly;
}
div a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
div img{
    width: 50px;
    height: 50px;
}